.body {
    background-color: #B1D4F7;
    height: 100%;
}
.divLoc, .divNow, .divForever {
    background-color: #FFABBE;
    margin: 2px;
    padding: 1px 10px 10px 10px;
}
.button {
    background: #9CE8C3;
    font-size: 15px;
    border-radius: 10px; 
    height:30px; 
    width: 250px;
    margin-left: 30px;
}
.input {
  background-color: #FADC7D;
  width: 30%;
  height: 30px;
  font-size: 23px;

}