.body {
    background-color: #B1D4F7;
    height: 100%;
}
.divLoc, .divNow, .divForever {
    background-color: #FFABBE;
    margin: 2px;
    padding: 1px 10px 10px 10px;
}
.button {
    background: #9CE8C3;
    font-size: 15px;
    border-radius: 10px; 
    height:30px; 
    width: 250px;
    margin-left: 30px;
}
.input {
  background-color: #FADC7D;
  width: 30%;
  height: 30px;
  font-size: 23px;

}
/*<!DOCTYPE html>
<html>
<head>
<style>
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  radius: 50%; 
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
</style>
</head>
<body>

<h2>Animated Button</h2>

<button class="button" style="vertical-align:middle"><span>Hover </span></button>

</body>
</html>
*/