/*  div .test - copiii lui div care au clasa test
div>.test - 
div.test - doar pentru divurile care au clasa test, divul trebuie sa aiba test -> 
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
display: none;
display: block;
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
link fara underline si albastru/mov:
text-decoration : none
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
valoare minima sau maxima intr-un input type number:
min="0" max="200"
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
#id
.class
body
* -> stilizeaza TOT
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
:hover
:active -> dupa ce dai click pe link
:before
:after
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
[atribut]-> selctezi toate tagurile care au atribute -> e mai incet decat varianta .class
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
:nth-child (odd)
:nth-child (even)
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////
prioritati:
style -> 1000
. -> 10
# -> 100
* -> 0
TAG -> 1
: -> 1

div #id -> 1001
div .class -> 101    -> tot ce am pus mai sus, o sa-mi suprascrie mai jos.

*/
